<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - NRIT</title>
    @Styles.Render("~/Styles/css")
    @if (IsSectionDefined("AddToLinks"))
    {
        @RenderSection("AddToLinks", required: false)
    }
    <style type="text/css">
        .panel-primary > .panel-heading {
            background-color: #17599D;
            border-color: #17599D;
        }

        .panel-primary {
            border-color: #17599D;
        }

        .panel-error > .panel-heading {
            background-color: #BD362F;
            border-color: #BD362F;
        }

        .panel-error {
            border-color: #BD362F;
        }

        #navbar .ui-state-active a:hover, #navbar .ui-state-active a:link:hover {
            color: white;
        }

        #header {
            background-color: #17599D;
            color: white;
        }

        .image-background {
            border-radius: 50%;
            background-color: white;
            padding-left: 10px;
            padding-top: 10px;
            height: 130px;
            width: 130px;
        }

        #user-space > p {
            margin-top: 55%;
            font-size: 12px;
        }

    @if (IsSectionDefined("AddToTextCss"))
    {
        @RenderSection("AddToTextCss", required: false)
    }
    </style>

</head>
<body>
    <div class="container ui-widget">
        <div class="row-fluid" id="header">
            <div class="span2">
                <div class="text-center image-background">
                    <img class="pull-left" src="@Url.Content("~/Content/images/NR_LOGO.png")" alt="Naval Reactors" height="120" />
                </div>
            </div>
            <div class="span8 text-center">
                <h1>NRIT - Naval Reactors Interview Tracker</h1>
            </div>
            <div class="span2 text-center" id="user-space">
                @if (ViewBag.currUser != null)
                {
                    <p>Logged in as <b>@ViewBag.currUser.LoginID</b></p>
                }
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <ul id="navbar">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
                    <li>
                        <a href="#"><i class="fa fa-group"></i> Candidates <i class="fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a href="@Url.Action("Index", "Candidates")"><i class="fa fa-search"></i> Candidate Search</a></li>
                            <li><a href="@Url.Action("Create", "Candidates")"><i class="fa fa-user"></i> Create Candidate</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Index", "Calendar")"><i class="fa fa-calendar"></i> Calendar</a></li>
                    <li><a href="@Url.Action("Index", "Reports")"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
                    @if (ViewBag.currUser != null && ViewBag.currUser.Role == "ADMIN")
                    {
                        <li>
                            <a href="#">Admin <i class="fa fa-chevron-down"></i></a>
                            <ul>
                                <li><a href="@Url.Action("AddUser", "Admin")">Add/Edit User</a></li>
                                <li><a href="@Url.Action("EditFYGoals", "Admin")">Edit FY Goals</a></li>
                                <li><a href="@Url.Action("Delete", "Candidates")">Delete Candidate</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.currUser != null)
                    {
                        <li class="pull-right"><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                    }
                    else
                    {
                        <li class="pull-right"><a href="@Url.Action("Login", "Home")">Login</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="push"></div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/js")
    <script type="text/javascript">

        var baseURL = "";

        $(document).ready(function () {
            
            var scheme = "@Request.Url.Scheme";
            var port = "@HttpContext.Current.Request.ServerVariables["SERVER_PORT"]";
            if (port == null || port == "80" || port == "443")
            {
                port = "";
            } else {
                port = ":" + port;
            }
            var host = "@HttpContext.Current.Request.ServerVariables["SERVER_NAME"]";
            baseURL = scheme + "://" + host + port;
            console.log(baseURL);

            $("button:not(.btn-ignore)").button();
            $("a.button").button();
            $("#navbar").menubar({
                icons: false
            });
            $("input").addClass("ui-corner-all");
            $("textarea").addClass("ui-corner-all");

        });
    </script>
    @if (IsSectionDefined("AddToScripts"))
    {
        @RenderSection("AddToScripts", required: false)
    }


</body>
</html>
