@{
    ViewBag.title = "Interview Comments";
}

@section AddToTextCss {
    #checkbox-table {
        width: 100%;
    }
}

<div class="row-fluid">
    <div class="span10 offset1 panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Enter Interview Comments</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="interview-form">
                <input type="hidden" id="InterviewID" name="InterviewID" value="@ViewBag.interview.InterviewID" />
                <input type="hidden" id="StartTime" name="StartTime" value="@ViewBag.interview.StartTime" />
                <input type="hidden" id="EndTime" name="EndTime" value="@ViewBag.interview.EndTime" />
                <input type="hidden" id="Date" name="Date" value="@ViewBag.interview.Date" />
                <input type="hidden" id="Location" name="Location" value="@ViewBag.interview.Location" />
                <input type="hidden" id="Duration" name="Duration" value="@ViewBag.interview.Duration" />
                <input type="hidden" id="BioDataID" name="BioDataID" value="@ViewBag.interview.BioDataID" />
                <input type="hidden" id="InterviewerID" name="InterviewerID" value="@ViewBag.interview.InterviewerID" />
                <input type="hidden" id="CurrentlyEditingID" name="CurrentlyEditingID" value="" />
                @if (ViewBag.userModel.UserID == ViewBag.interview.InterviewerID) {
                    <input type="hidden" id="Status" name="Status" value="Entered" />
                }
                else if (ViewBag.currUser.Role != "INTER")
                {
                    <input type="hidden" id="Status" name="Status" value="Edited" />
                }
                else if (false)
                {
                    <!--TODO: how to tell if user is admiral?-->
                    <input type="hidden" id="Status" name="Status" value="Final" />
                }
                <h3>Interview Details</h3>
                <p><b>Interview Date:</b> <span id="interview-date"></span></p>
                <p><b>Interview Time:</b> <span id="interview-start-time"></span> - <span id="interview-end-time"></span></p>
                <p><b>Candidate:</b> @ViewBag.interview.BioData.FName @ViewBag.interview.BioData.LName</p>
                <hr />
                <table id="checkbox-table">
                    <thead>
                        <tr>
                            @foreach (var p in ViewBag.interview.BioData.Programs)
                            {
                                <th>@p.ProgramValue</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var p in ViewBag.interview.BioData.Programs)
                            {
                                <td>
                                    <input id="@p.ProgramValue-yes" type="checkbox" @if (ViewBag.interview.NR == true) { <text> checked </text>   } /> Yes <br />
                                    <input id="@p.ProgramValue-no" type="checkbox" @if (ViewBag.interview.NR == false) { <text> checked </text>   } /> No
                                    <input type="hidden" name="@p.ProgramValue" id="@p.ProgramValue" value="@ViewBag.interview.NR" />
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
                @if (ViewBag.interview.InterviewerID != ViewBag.userModel.UserID) {
                    <h3>@ViewBag.interview.InterviewerUser.LoginID's Comments</h3>
                }
                else
                {
                    <h3>Your Comments</h3>

                }
                <textarea class="span12" rows="5" id="Comments" name="Comments" @if(ViewBag.interview.InterviewerID != ViewBag.userModel.UserID) { <text>disabled</text> }>@ViewBag.interview.Comments</textarea>
                @if (ViewBag.currUser.Role != "INTER" && ViewBag.interview.InterviewerID != ViewBag.userModel.UserID) {
                    <h3>Edit Comment</h3>
                    <textarea class="span12" rows="5" id="EditedComments" name="EditedComments">
                        @if (ViewBag.interview.EditedComments != null) {
                            @ViewBag.interview.EditedComments
                        }
                        else
                        {
                            @ViewBag.interview.Comments
                        }
                    </textarea>
                    <hr />
                }
                <h3>Previous Comments</h3>
                <div id="prev-comments"></div>
                <hr />
                <div class="row-fluid">
                    <div id="interview-errors" class="alert hide alert-error span10 offset1">
                        <p></p>
                    </div>
                </div>
                <button type="button" class="btn-ignore btn-success pull-right" id="submit">Submit Changes</button>
            </form>
        </div>
    </div>
</div>

@section AddToScripts {
<script type="text/javascript">

    var checkboxes = [
        @foreach (var p in ViewBag.interview.BioData.Programs)
        {
            <text>"@p.ProgramValue",</text>
        }
    ];


    $(document).ready(function () {

        var id = "@ViewBag.interview.InterviewID";
        var bdID = "@ViewBag.interview.BioDataID";
        // Set dates and times with formatting
        var iDate = moment("@ViewBag.interview.Date");
        var startTime = moment("@ViewBag.interview.StartTime");
        var endTime = moment("@ViewBag.interview.EndTime");

        $("#interview-date").text(iDate.format("MMM Do, YYYY"));
        $("#interview-start-time").text(startTime.format("HH:mm"));
        $("#interview-end-time").text(endTime.format("HH:mm"));

        // Get other interviews
        var start = new moment(iDate.year() + " " + (iDate.month() + 1) + " " + iDate.date());
        var end = new moment(start.toISOString());
        end.hour(24);

        var obj = {
            "$filter": "Date gt datetime'" + start.toISOString() + "' and Date lt datetime'" +
                end.toISOString() + "' and BioDataID eq " + bdID
        }

        $.ajax({
            url: baseURL + "/api/Interview/GetBy?" + $.param(obj),
            type: "Get",
            success: function (data) {
                console.log("success");
                for (var i = 0; i < data.length; i++) {
                    var interview = data[i];
                    console.log(interview.InterviewID);
                    if (interview.InterviewID != id) {
                        $("#prev-comments").append(
                            "<p>" + interview.Interviewer.LoginID + "'s Comments<br/>" +
                            interview.Comments + "</p>"
                        );
                    }
                }
            },
            error: function (data) {
                console.log("error");
                console.log(data);
                console.log(data.responseText);
            }
        });

        // Submit interview
        $("#submit").click(function () {
            // Set checkbox values
            for (var i = 0; i < checkboxes.length; i++) {
                var c = checkboxes[i];
                if ($("#" + c + "-yes").is(":checked")) {
                    $("#" + c).val("true");
                } else if ($("#" + c + "-no").is(":checked")) {
                    $("#" + c).val("false");
                } else {
                    $("#" + c).val("");
                }
            }
            var interview = $("#interview-form").serialize();
            console.log(interview);
            // Test
            $.ajax({
                url: baseURL + "/api/Interview/Test?" + interview,
                type: "Post",
                success: function (data) {
                    console.log(data);
                    // Submit (Put) interview
                    $.ajax({
                        url: baseURL + "/api/Interview/Put/" + id + "?" + interview,
                        type: "Put",
                        success: function (data) {
                            console.log("success");
                            console.log(data);

                            // Redirect to Calendar/Index
                            window.location.href = "@Url.Action("Index", "Calendar")";
                        },
                        error: function (data) {
                            console.log("error");
                            console.log(data);
                        }
                    });
                },
                error: function (data) {
                    // Show errors
                    console.log(data);
                    var errors = "";
                    var response = $.parseJSON(data.responseText).ModelState;
                    $.each(response, function (key, value) {
                        for (var i = 0; i < value.length; i++) {
                            errors += value[i] + "<br/>";
                        }
                    });
                    $("#interview-errors > p").html(errors);
                    $("#interview-errors").removeClass("hide");
                }
            });
        });
    });

</script>
}