@{
    ViewBag.title = "Interview Comments";
}

@section AddToTextCss {
    #checkbox-table {
    width: 100%;
    }
}

<div class="row-fluid">
    <div class="span10 offset1 panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Enter Interview Comments</h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="interview-form">
                <input type="hidden" id="InterviewID" name="InterviewID" value="@ViewBag.interview.InterviewID" />
                <input type="hidden" id="StartTime" name="StartTime" value="@ViewBag.interview.StartTime" />
                <input type="hidden" id="EndTime" name="EndTime" value="@ViewBag.interview.EndTime" />
                <input type="hidden" id="Date" name="Date" value="@ViewBag.interview.Date" />
                <input type="hidden" id="Location" name="Location" value="@ViewBag.interview.Location" />
                <input type="hidden" id="BioDataID" name="BioDataID" value="@ViewBag.interview.BioDataID" />
                <input type="hidden" id="InterviewerID" name="InterviewerID" value="@ViewBag.interview.InterviewerID" />
                <input type="hidden" id="CurrentlyEditingID" name="CurrentlyEditingID" value="" />
                <input type="hidden" id="EditTime" />
                @if (ViewBag.user.UserID == ViewBag.interview.InterviewerID)
                {
                    <input type="hidden" id="Status" name="Status" value="Entered" />
                }
                else
                {
                    <input type="hidden" id="Status" name="Status" value="Edited" />
                }
                <h3>Interview Details</h3>
                <p><b>Interview Date:</b> <span id="interview-date"></span></p>
                <p><b>Interview Time:</b> <span id="interview-start-time"></span> - <span id="interview-end-time"></span></p>
                <p><b>Candidate:</b> @ViewBag.interview.BioData.FName @ViewBag.interview.BioData.LName</p>
                <label for="Duration"><b>Duration</b> (in minutes)</label>
                <input type="text" name="Duration" id="Duration" @if (ViewBag.interview.Duration != null) { <text> value="@ViewBag.interview.Duration" </text>   } />
                <hr />
                <table id="checkbox-table">
                    <thead>
                        <tr>
                            @foreach (var p in ViewBag.programsList)
                            {
                                if (ViewBag.biodataPrograms.Contains(p))
                                {
                                    <th>@p</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (ViewBag.biodataPrograms.Contains("NR"))
                            {
                                <td>
                                    <input id="NR-yes" type="checkbox" @if (ViewBag.interview.NR == true) { <text> checked </text>     } /> Yes <br />
                                    <input id="NR-no" type="checkbox" @if (ViewBag.interview.NR == false) { <text> checked </text>     } /> No
                                    <input type="hidden" name="NR" id="NR" value="@ViewBag.interview.NR" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("INST"))
                            {
                                <td>
                                    <input id="INST-yes" type="checkbox" @if (ViewBag.interview.INST == true) { <text> checked </text>      } /> Yes <br />
                                    <input id="INST-no" type="checkbox" @if (ViewBag.interview.INST == false) { <text> checked </text>      } /> No
                                    <input type="hidden" name="INST" id="INST" value="@ViewBag.interview.INST" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("NPS"))
                            {
                                <td>
                                    <input id="NPS-yes" type="checkbox" @if (ViewBag.interview.NPS == true) { <text> checked </text>     } /> Yes <br />
                                    <input id="NPS-no" type="checkbox" @if (ViewBag.interview.NPS == false) { <text> checked </text>     } /> No
                                    <input type="hidden" name="NPS" id="NPS" value="@ViewBag.interview.NPS" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("PXO"))
                            {
                                <td>
                                    <input id="PXO-yes" type="checkbox" @if (ViewBag.interview.PXO == true) { <text> checked </text>      } /> Yes <br />
                                    <input id="PXO-no" type="checkbox" @if (ViewBag.interview.PXO == false) { <text> checked </text>      } /> No
                                    <input type="hidden" name="PXO" id="PXO" value="@ViewBag.interview.PXO" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("EDO"))
                            {
                                <td>
                                    <input id="EDO-yes" type="checkbox" @if (ViewBag.interview.EDO == true) { <text> checked </text>      } /> Yes <br />
                                    <input id="EDO-no" type="checkbox" @if (ViewBag.interview.EDO == false) { <text> checked </text>      } /> No
                                    <input type="hidden" name="EDO" id="EDO" value="@ViewBag.interview.EDO" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("ENLTECH"))
                            {
                                <td>
                                    <input id="ENLTECH-yes" type="checkbox" @if (ViewBag.interview.ENLTECH == true) { <text> checked </text>       } /> Yes <br />
                                    <input id="ENLTECH-no" type="checkbox" @if (ViewBag.interview.ENLTECH == false) { <text> checked </text>       } /> No
                                    <input type="hidden" name="ENLTECH" id="ENLTECH" value="@ViewBag.interview.ENLTECH" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("NR1"))
                            {
                                <td>
                                    <input id="NR1-yes" type="checkbox" @if (ViewBag.interview.NR1 == true) { <text> checked </text>      } /> Yes <br />
                                    <input id="NR1-no" type="checkbox" @if (ViewBag.interview.NR1 == false) { <text> checked </text>      } /> No
                                    <input type="hidden" name="NR1" id="NR1" value="@ViewBag.interview.NR1" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("SUPPLY"))
                            {
                                <td>
                                    <input id="SUPPLY-yes" type="checkbox" @if (ViewBag.interview.SUPPLY == true) { <text> checked </text>       } /> Yes <br />
                                    <input id="SUPPLY-no" type="checkbox" @if (ViewBag.interview.SUPPLY == false) { <text> checked </text>       } /> No
                                    <input type="hidden" name="SUPPLY" id="SUPPLY" value="@ViewBag.interview.SUPPLY" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("EOOW"))
                            {
                                <td>
                                    <input id="EOOW-yes" type="checkbox" @if (ViewBag.interview.EOOW == true) { <text> checked </text>       } /> Yes <br />
                                    <input id="EOOW-no" type="checkbox" @if (ViewBag.interview.EOOW == false) { <text> checked </text>       } /> No
                                    <input type="hidden" name="EOOW" id="EOOW" value="@ViewBag.interview.EOOW" />
                                </td>
                            }
                            @if (ViewBag.biodataPrograms.Contains("DOE"))
                            {
                                <td>
                                    <input id="DOE-yes" type="checkbox" @if (ViewBag.interview.DOE == true) { <text> checked </text>        } /> Yes <br />
                                    <input id="DOE-no" type="checkbox" @if (ViewBag.interview.DOE == false) { <text> checked </text>        } /> No
                                    <input type="hidden" name="DOE" id="DOE" value="@ViewBag.interview.DOE" />
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
                @if (ViewBag.interview.InterviewerID != ViewBag.user.UserID)
                {
                    <h3>@ViewBag.interview.InterviewerUser.LoginID's Comments</h3>
                }
                else
                {
                    <h3>Your Comments</h3>

                }
                <textarea class="span12" rows="5" id="Comments" name="Comments" @if (ViewBag.interview.InterviewerID != ViewBag.user.UserID) { <text> disabled </text>   }>@ViewBag.interview.Comments</textarea>
                @if (ViewBag.user.UserGroup != "INTER" && ViewBag.interview.InterviewerID != ViewBag.user.UserID)
                {
                    <h3>Edit Comment</h3>
<!-- This is over here to get rid of extra space in the textarea. Very annoying -->
<textarea class="span12" rows="5" id="EditedComments" name="EditedComments">
@if (ViewBag.interview.EditedComments != null)
{@ViewBag.interview.EditedComments}
else
{@ViewBag.interview.Comments}
</textarea>
                    if (ViewBag.interview.EditTime != null)
                    {
                        <small>Comment last edited @ViewBag.interview.EditTime</small>
                    }
                }
                <h3>Previous Comments</h3>
                <div id="prev-comments"></div>
                <hr />
                <div class="row-fluid">
                    <div id="interview-errors" class="alert hide alert-error span10 offset1">
                        <p></p>
                    </div>
                </div>
            </form>
            <button type="button" class="btn-ignore btn-success pull-right" id="submit">Submit Changes</button>
            <button type="button" class="pull-right" id="show-admiral">Edit Admiral Info</button>
            <div id="admiral-div" style="display: none;">
                <h2>Admiral Information for @ViewBag.interview.BioData.FName @ViewBag.interview.BioData.LName</h2>
                <form id="admiral-form" class="form-horizontal">
                    <div class="span6">
                        <p><b>Acceptance</b></p>
                        <div class="form-group">
                            <label for="Decision" class="control-label span4">Accept applicant?</label>
                            <div class="span6">
                                <select id="Decision" name="Decision">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Accepted" class="control-label span4">Did applicant accept?</label>
                            <div class="span6">
                                <select id="Accepted" name="Accepted">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <p><b>Assignment</b></p>
                        <div class="form-group">
                            <label for="NP500" class="control-label span4">Attend NP500?</label>
                            <div class="span6">
                                <select id="NP500" name="NP500">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NSTC" class="control-label span4">Attend NSTC?</label>
                            <div class="span6">
                                <select id="NSTC" name="NSTC">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SelfStudy" class="control-label span4">Attend Self Study?</label>
                            <div class="span6">
                                <select id="SelfStudy" name="SelfStudy">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PreSchool" class="control-label span4">Attend NPS PreSchool?</label>
                            <div class="span6">
                                <select id="PreSchool" name="PreSchool">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <p><b>Letters</b></p>
                        <div class="form-group">
                            <label for="Letter" class="control-label span4">Instructed to write letter?</label>
                            <div class="span6">
                                <select id="Letter" name="Letter">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="LetterReceived" class="control-label span4">If so, was letter received?</label>
                            <div class="span6">
                                <select id="LetterReceived" name="LetterReceived">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="form-group">
                            <label for="InviteBack" class="control-label span4">Invited Back for Interview?</label>
                            <div class="span6">
                                <select id="InviteBack" name="InviteBack">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label span4" for="ProgramID">Program Accepted To</label>
                            <div class="span6">
                                <select id="ProgramID" name="ProgramID">
                                    @foreach (var p in ViewBag.interview.BioData.Programs)
                                    {
                                        <option value="@p.ProgramID">@p.ProgramValue</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label span2" for="Comments">Personal Comments</label>
                            <div class="span8">
                                <textarea rows="5" class="span12" id="Comments" name="Comments"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="AdmiralNotes" class="control-label span2">Notes</label>
                            <div class="span8">
                                <textarea rows="5" class="span12" id="AdmiralNotes" name="AdmiralNotes"></textarea>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="BioDataID" value="@ViewBag.interview.BioDataID" />
                    <input type="hidden" id="AdmiralID" />
                    <input type="hidden" name="Date" id="Date" />
                </form>
                <div class="row-fluid">
                    <div id="admiral-errors" class="alert hide alert-error span10 offset1">
                        <p></p>
                    </div>
                </div>
                <div id="admiral-success" class="text-center"></div>
                <button type="button" id="submit-admiral" class="btn-ignore btn-success pull-right">Submit Admiral Info</button>
            </div>
        </div>
    </div>
</div>

@section AddToScripts {
    <script type="text/javascript">

        var checkboxes = [
            @foreach (var p in ViewBag.interview.BioData.Programs)
        {
            <text>"@p.ProgramValue",</text>
        }
        ];

        // Submitted flag
        var submitted = false;

        $(document).ready(function () {

            var id = "@ViewBag.interview.InterviewID";
            var bdID = "@ViewBag.interview.BioDataID";
            // Set dates and times with formatting
            var iDate = moment("@ViewBag.interview.Date");
            var startTime = moment("@ViewBag.interview.StartTime");
            var endTime = moment("@ViewBag.interview.EndTime");

            $("#interview-date").text(iDate.format("MMM Do, YYYY"));
            $("#interview-start-time").text(startTime.format("HH:mm"));
            $("#interview-end-time").text(endTime.format("HH:mm"));

            // Get previous interviews, ending right before this interview started
            var start = new moment(iDate.year() + " " + (iDate.month() + 1) + " " + iDate.date());
            var end = startTime;
            console.log(start.toISOString());
            console.log(end.toISOString());
            // Create filter string
            var obj = {
                "$filter": "Date gt datetime'" + start.toISOString() + "' and Date lt datetime'" +
                    end.toISOString() + "' and BioDataID eq " + bdID
            }
            // Get
            $.ajax({
                url: baseURL + "/api/Interview/GetBy?" + $.param(obj),
                type: "Get",
                success: function (data) {
                    console.log("success");
                    var count = 0;
                    for (var i = 0; i < data.length; i++) {
                        var interview = data[i];
                        console.log(interview);
                        console.log(interview.InterviewID);
                        if (interview.InterviewID != id && interview.Comments != null) {
                            // Populate area
                            $("#prev-comments").append(
                                "<p>" + interview.InterviewerUser.LoginID + "'s Comments<br/>" +
                                interview.Comments + "</p>"
                            );
                            count++;
                        }
                    }
                    if (count == 0) {
                        $("#prev-comments").append("<p>No previous comments to show</p>");
                    }
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                    console.log(data.responseText);
                }
            });

            // Init checkboxes
            for (var i = 0; i < checkboxes.length; i++) {
                var c = checkboxes[i];
                if ($("#" + c + "-yes").is(":checked")) {
                    $("#" + c).val("true");
                } else if ($("#" + c + "-no").is(":checked")) {
                    $("#" + c).val("false");
                } else {
                    $("#" + c).val("");
                }
            }

            // Save current interview state
            var initInterview = $("#interview-form").serialize();
            console.log(initInterview);

            $.ajax({
                url: baseURL + "/api/Interview/Test?" + initInterview,
                type: "Post",
                success: function (data) {
                    console.log("success");
                },
                error: function (data) {
                    console.log(data);
                }
            });

            // Callback to unset CurrentlyEditingID on page unload
            // Only called if they didn't click 'Submit'
            window.onbeforeunload = function () {
                if (!submitted) {
                    console.log("here");
                    console.log(initInterview);
                    // Set initial interview
                    $.ajax({
                        url: baseURL + "/api/Interview/Put/" + id + "?" + initInterview,
                        type: "Put",
                        success: function (data) {
                            console.log("success");
                            console.log(data);
                        },
                        error: function (data) {
                            console.log("error");
                            console.log(data);
                        }
                    });
                }
                //return "?";
            };

            // Submit interview
            $("#submit").click(function () {
                // Set checkbox values
                for (var i = 0; i < checkboxes.length; i++) {
                    var c = checkboxes[i];
                    if ($("#" + c + "-yes").is(":checked")) {
                        $("#" + c).val("true");
                    } else if ($("#" + c + "-no").is(":checked")) {
                        $("#" + c).val("false");
                    } else {
                        $("#" + c).val("");
                    }
                }
                // Set EditTime
                $("#interview-form #EditTime").val(new Date().toISOString());
                $("#interview-form #EditTime").attr("name", "EditTime");
                // Serialize form
                var interview = $("#interview-form").serialize();
                console.log(interview);
                // Test
                $.ajax({
                    url: baseURL + "/api/Interview/Test?" + interview,
                    type: "Post",
                    success: function (data) {
                        console.log(data);
                        // Submit (Put) interview
                        $.ajax({
                            url: baseURL + "/api/Interview/Put/" + id + "?" + interview,
                            type: "Put",
                            success: function (data) {
                                console.log("success");
                                console.log(data);
                                // Set submitted flag
                                submitted = true;
                                // Redirect to Calendar/Index
                                window.location.href = "@Url.Action("Index", "Calendar")";
                            },
                            error: function (data) {
                                console.log("error");
                                console.log(data);
                            }
                        });
                    },
                    error: function (data) {
                        // Show errors
                        console.log(data);
                        var errors = "";
                        var response = $.parseJSON(data.responseText).ModelState;
                        $.each(response, function (key, value) {
                            for (var i = 0; i < value.length; i++) {
                                errors += value[i] + "<br/>";
                            }
                        });
                        $("#interview-errors > p").html(errors);
                        $("#interview-errors").removeClass("hide");
                    }
                });
            });

            $("#show-admiral").click(function () {
                $("#admiral-errors").addClass("hide");
                // Show/hide div
                $("#admiral-div").slideToggle();
                // If showing, get data
                if ($("#admiral-div").is(":visible")) {
                    var obj = {
                        "$filter": "BioDataID eq " + "@ViewBag.interview.BioDataID"
                    };
                    // Get admiral record if there is one
                    $.ajax({
                        url: baseURL + "/api/Admiral/GetBy?" + $.param(obj),
                        type: "Get",
                        success: function (data) {
                            console.log(data);
                            if (data.length == 0) {
                                // No admiral record
                                $("#AdmiralID").removeAttr("name");
                                $("#AdmiralID").val("");
                                // Show in error div
                                $("#admiral-errors > p").html("No admiral record for this candidate");
                                $("#admiral-errors").removeClass("hide");
                            } else {
                                // Populate form
                                $("#AdmiralID").attr("name", "AdmiralID");
                                var formArray = $("#admiral-form").serializeArray();
                                for (var i = 0; i < formArray.length; i++) {
                                    $("#admiral-form #" + formArray[i].name).val("" + data[0][formArray[i].name]);
                                }
                            }
                        },
                        error: function (data) {
                            console.log("error");
                        }
                    });
                }
            });

            $("#submit-admiral").click(function () {
                // Set Date to now
                $("#admiral-form #Date").val(new Date().toISOString());
                // Collect form data
                var formData = $("#admiral-form").serialize();
                console.log(formData);
                // Hide error div
                $("#admiral-errors").addClass("hide");
                // Test
                $.ajax({
                    url: baseURL + "/api/Admiral/Test?" + formData,
                    type: "Post",
                    success: function (data) {
                        console.log("success");
                        // Determine if Post or Put
                        var type = "Post";
                        var append = "";
                        if ($("#AdmiralID").val() != "") {
                            type = "Put";
                            append = "/" + $("#AdmiralID").val();
                        }
                        console.log(type);
                        console.log(append);
                        // Submit
                        $.ajax({
                            url: baseURL + "/api/Admiral/" + type + append + "?" + formData,
                            type: type,
                            success: function (data) {
                                console.log("success");
                                console.log(data);
                                $("#admiral-success").html("The admiral data was submitted successfully");
                                setTimeout(function () { $("#admiral-success").empty(); }, 5000);
                            },
                            error: function (data) {
                                console.log("error");
                                console.log(data);
                            }
                        });
                    },
                    error: function (data) {
                        // Show errors
                        console.log(data);
                        var errors = "";
                        var response = $.parseJSON(data.responseText).ModelState;
                        $.each(response, function (key, value) {
                            for (var i = 0; i < value.length; i++) {
                                errors += value[i] + "<br/>";
                            }
                        });
                        $("#admiral-errors > p").html(errors);
                        $("#admiral-errors").removeClass("hide");
                    }
                });
            });

        }); // End document ready

    </script>
}