@{
    ViewBag.Title = "Reports";
}

<div class="row-fluid">
    <div class="span10 offset1">
        <div class="row-fluid">
            <div class="span6 panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Fiscal Year Officer Accessions Report</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label span2" for="fy-date">Date</label>
                            <div class="span10">
                                <input type="text" class="date" name="fy-date" id="fy-date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label span2" for="fy-year">Year</label>
                            <div class="span10">
                                <select name="fy-year" id="fy-year">
                                    @for (int i = 0; i > -30; --i)
                                    {
                                        <option value="@(ViewBag.currentYear+i)">@(ViewBag.currentYear + i)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <button type="button" class="pull-right" id="generate-fy-year" onclick="">Generate</button>
                    </form>
                </div>
            </div>
            <div class="span6 panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Calendar Year Officer Accessions Report</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label span2" for="cy-date">Date</label>
                            <div class="span10">
                                <input type="text" class="date" name="cy-date" id="cy-date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label span2" for="cy-year">Year</label>
                            <div class="span10">
                                <select name="cy-year" id="cy-year">
                                    @for (int i = 0; i > -30; --i )
                                    {
                                        <option value="@(ViewBag.currentYear+i)">@(ViewBag.currentYear + i)</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <button type="button" class="pull-right" id="generate-cy-year">Generate</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6 panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Candidate Report</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label span3" for="candidate-candidate">Candidate</label>
                            <div class="span9">
                                <select id="candidate-candidate">
                                    @foreach (var s in ViewBag.candidates)
                                    {
                                        <option value="@s.ID">@s.LName, @s.FName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="span3"></div>
                            <div class="span9">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="individual-card" name="individual-card" /> Card
                                        <input type="checkbox" id="individual-packet" name="individual-packet" /> Packet
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="pull-right" id="generate-candidate">Generate</button>
                    </form>
                </div>
                

            </div>
            <div class="span6 panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">SAT/ACT by Fiscal Year Report</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label span2" for="sat-begin">Begin FYG</label>
                            <div class="span10">
                                <input type="text" name="sat-begin" id="sat-begin" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label span2" for="sat-end">End FYG</label>
                            <div class="span10">
                                <input type="text" name="sat-end" id="sat-end" />
                            </div>
                        </div>
                        <button type="button" id="generate-SAT-ACT-report" class="pull-right">Generate</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Interview Reports</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label span2" for="interview-date">Date</label>
                            <div class="span10">
                                <input type="text" class="date" name="interview-date" id="interview-date" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="span10 offset1">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="interview-results" name="interview-results" /> Final Results
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="interview-labels" name="interview-labels" /> Labels
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="interview-alpha" name="interview-alpha" /> ALPHA
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="interview-chron" name="interview-chron" /> CHRON
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="interview-packet" name="interview-packet" /> Packet
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="interview-cards" name="interview-cards" /> Cards
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="interview-eod-letter" name="interview-eod-letter" /> EoD Letter
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="interview-usna-letter" name="interview-usna-letter" /> USNA Letter
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="pull-right" id="generate-interview-report">Generate</button>
                    </form>
                </div>
            </div>
            <div class="span6 panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">School Report</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label span3" for="school-school">School</label>
                            <div class="span9">
                                <select id="school-school">
                                    @foreach (var s in ViewBag.schools)
                                    {
                                        <option value=@s.SchoolID>@s.SchoolValue</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <button type="button" class="pull-right" id="generate-school">Generate</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section AddToScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Set datepickers
            $(".date").datepicker({
                changeYear: true,
                yearRange: "-90:+0"
            });

            // Select2s
            $("#candidate-candidate").select2({
                dropdownCssClass: "expand"
            });
            $("#school-school").select2({
                dropdownCssClass: "expand"
            });

            $("#generate-fy-year").click(function () {
                var fyear = $("#fy-year option:selected").text();
                var date = $("#fy-date").datepicker("getDate");

                var FYReportElem = document.createElement("iframe");
                FYReportElem.src = "Reports/generateFYReport?year=" + fyear + "&dateString=" + date + "&byFY=true";
                FYReportElem.style.display = "none";
                document.body.appendChild(FYReportElem);
            });

            $("#generate-cy-year").click(function () {
                var fyear = $("#cy-year option:selected").text();
                var date = $("#cy-date").datepicker("getDate");

                var FYReportElem = document.createElement("iframe");
                FYReportElem.src = "Reports/generateFYReport?year=" + fyear + "&dateString=" + date + "&byFY=false";
                FYReportElem.style.display = "none";
                document.body.appendChild(FYReportElem);
            });

            $("#generate-interview-report").click(function () {
                var reportDate = $("#interview-date").datepicker("getDate");
                var optionSelected = false;
                if (reportDate) {
                    if (document.getElementById("interview-results").checked) {
                        var ILReport = document.createElement("iframe");
                        ILReport.src = "Reports/generateInterviewResults?date=" + reportDate;
                        ILReport.style.display = "none";
                        document.body.appendChild(ILReport);
                        optionSelected = true;
                    }
                    if (document.getElementById("interview-labels").checked) {
                        var labelsGenerator = document.createElement("iframe");
                        labelsGenerator.src = "Reports/generatelabels?date=" + reportDate;
                        labelsGenerator.style.display = "none";
                        document.body.appendChild(labelsGenerator);
                        optionSelected = true;
                    }
                    if (document.getElementById("interview-alpha").checked) {
                        var AlphaReport = document.createElement("iframe");
                        AlphaReport.src = "Reports/generateAlphaReport?date=" + reportDate + "&chrons=false";
                        AlphaReport.style.display = "none";
                        document.body.appendChild(AlphaReport);
                        optionSelected = true;
                    }
                    if (document.getElementById("interview-chron").checked) {
                        var ChronsReport = document.createElement("iframe");
                        ChronsReport.src = "Reports/generateAlphaReport?date=" + reportDate + "&chrons=true";
                        ChronsReport.style.display = "none";
                        document.body.appendChild(ChronsReport);
                        optionSelected = true;
                    }
                    if (document.getElementById("interview-packet").checked) {
                        var packets = document.createElement("iframe");
                        packets.src = "Reports/generateBiosByDateHelper?date=" + reportDate + "&bioCards=false&packets=true";
                        packets.style.display = "none";
                        document.body.appendChild(packets);
                        optionSelected = true;
                    }
                    if (document.getElementById("interview-cards").checked) {
                        var idCards = document.createElement("iframe");
                        idCards.src = "Reports/generateBiosByDateHelper?date=" + reportDate + "&bioCards=true&packets=false";
                        idCards.style.display = "none";
                        document.body.appendChild(idCards);
                        optionSelected = true;
                    }
                    if (document.getElementById("interview-eod-letter").checked) {
                        var eodLetter = document.createElement("iframe");
                        eodLetter.src = "Reports/generateEoDLetter?date=" + reportDate;
                        eodLetter.style.display = "none";
                        document.body.appendChild(eodLetter);
                        optionSelected = true;
                    }
                    if (document.getElementById("interview-usna-letter").checked) {    
                        var usnaLetter = document.createElement("iframe");
                        usnaLetter.src = "Reports/generateUSNALetter?date=" + reportDate;
                        usnaLetter.style.display = "none";
                        document.body.appendChild(usnaLetter);
                        optionSelected = true;
                    }
                    if (!optionSelected)
                        alert("Please select at least one report option to generate");
                }
                else
                    alert("Select a date")
            });

            $("#generate-SAT-ACT-report").click(function () {
                var startYear = $("#sat-begin").val();
                var endYear = $("#sat-end").val();

                if (!endYear) endYear = (new Date).getFullYear();
                if (!startYear) startYear = endYear;

                if (isNaN(parseInt(startYear)) || isNaN(parseInt(endYear))) {
                    alert("Please specify integer values for FYGs");
                    return;
                }

                var SATACTReport = document.createElement("iframe");
                SATACTReport.src = "Reports/generateSATACTReport?startFYG=" + startYear + "&endFYG=" + endYear;
                SATACTReport.style.display = "none";
                document.body.appendChild(SATACTReport);
            });

            $("#generate-candidate").click(function () {
                var id = $("#candidate-candidate").val();
                if (document.getElementById("individual-packet").checked)
                {
                    var candidateReportElem = document.createElement("iframe");
                    candidateReportElem.src = "Reports/generateCandidateReport?id=" + id;
                    candidateReportElem.style.display = "none";
                    document.body.appendChild(candidateReportElem);
                }
                if (document.getElementById("individual-card").checked)
                {
                    var bioCardElem = document.createElement("iframe");
                    bioCardElem.src = "Reports/generateBioIDCard?id=" + id;
                    bioCardElem.style.display = "none";
                    document.body.appendChild(bioCardElem);
                }
                if(!document.getElementById("individual-packet").checked && !document.getElementById("individual-card").checked)
                {
                    alert("Please select at least one of the candidate report options");
                }
            });

            $("#generate-school").click(function () {
                var id = $("#school-school").val();
                var schoolReportElem = document.createElement("iframe");
                schoolReportElem.src = "Reports/generateSchoolReport?id=" + id;
                schoolReportElem.style.display = "none";
                document.body.appendChild(schoolReportElem);
            });
        });


    </script>
}